* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  transition: all .2s ease;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
