.Cell {
  height: 70px;
  width: 70px;
  border-radius: 1px;
  border-radius: 5px;
  background-color: #263238;
  transition: background-color 0.7s ease;
  transition: all .2s ease;
}

.Cell-lit {
  background-color: #00bcd4;
}

.winBounce {
  animation: win 2s infinite ease;
}

@keyframes win {
  0% {
    scale: 1;
    background-color: #263238;
  }
  50% {
    scale: .8;
    background-color: #00bcd4;
  }
  0% {
    scale: 1;
    background-color: #263238;
  }
}
